language: go
sudo: required
group: travis_latest
dist: xenial

language: go

go:
  - 1.14.x

env:
  - GO111MODULE=on

# Only clone the most recent commit.
git:
  depth: 1

addons:
  apt:
    packages:
      - softhsm2
      - opensc

install:
  - make vars tools

# Don't email me the results of the test runs.
notifications:
  email:
    on_success: change
    on_failure: always

# Anything in before_script that returns a nonzero exit code will flunk the
# build and immediately stop. It's sorta like having set -e enabled in bash.
# Make sure golangci-lint is vendored by running
#   dep ensure -add github.com/golangci/golangci-lint/cmd/golangci-lint
# ...and adding this to your Gopkg.toml file.
#   required = ["github.com/golangci/golangci-lint/cmd/golangci-lint"]
before_script:
  - make vars generate

# script always runs to completion (set +e). If we have linter issues AND a
# failing test, we want to see both. Configure golangci-lint with a
# .golangci.yml file at the top level of your repo.
script:
  - make vars hsmconfig gen_test_certs build covtest coveralls # Run all the tests with coverage report
